	<div id="main" class="row">
		<div id="resumes" class="column grid_4 align_center">
			<h3><a href="/resume">Resume / CV</a></h3>
			<a href="/resume"><img src="images/resume.png" alt="Resume" /></a>
		</div>

		<div id="projects" class="column grid_4 align_center">
			<h3><a href="/projects">Personal Projects</a></h3>
			<a href="/projects"><img src="images/projects.png" alt="Projects" /></a>
		</div>

		<div id="coursework" class="column grid_4 align_center">
			<h3><a href="/coursework">Academic Coursework</a></h3>
			<a href="/coursework"><img src="images/coursework.png" alt="Coursework" /></a>
		</div>
	</div>
