#resume
  %h1.text-center Resume

  %hr

  %p.lead
    Hi, I'm Han, an entrepreneurial software engineer who is passionate about helping startups and small businesses rapidly ship features with real business value that delights their clients by deeply understanding customer needs and implementing solutions through quality code and architecture.

  = haml(:job, layout: false, locals: { logo: '/images/authoritymetrics.png', 
      position: 'Cofounder', 
      employer: 'AuthorityMetrics', 
      employer_url: 'https://www.authoritymetrics.com', 
      location: 'Remote', 
      dates: 'December 2014 - Current', 
      bullets: [ 'Architected, developed, and marketed a Meteor application for search engine keyword and competition analysis.', 
        'Led a remote, distributed developer team of 2.', 
        'Wrote and deployed a series of distributed web crawlers to scrape and retrieve data for analysis in a massively parallel fashion that run on both IronWorker and Lambda.', 
        'Optimized Mongo oplog and Meteor performance via tools like Kadira to handle 1000s of updates per second, including working with multiple open source Meteor package creators such as the authors of collection2, simple schema, and reactive-table.', 
        'Integrated with various APIs, including multiple keyword data sources, email and marketing automation software, customer support software, marketing analytics, affiliate program management software, and Stripe for payment processing.', 
        'Set up continuous integration for both staging and production branches.', 
        'Thoroughly documented internal processes to create standard operating procedures for local development setup, code review and merge, deployment to each environment, customer refund / upgrade / downgrade / reactivation procedures, and canned responses for support questions.', 
      ], 
      technologies: ['Meteor', 'Modulus + Compose', 'MongoDB', 'IronWorker + Amazon Lambda', 'Node.js + DDP', 'Stripe'] })

  = haml(:job, layout: false, locals: { logo: '/images/okcupidlabs.png', 
      position: 'Fullstack Rails Engineer', 
      employer: 'OkCupid Labs', 
      employer_url: 'http://www.okcupidlabs.com', 
      location: 'San Francisco', 
      dates: 'Apr 2013 - May 2014', 
      bullets: [ 'Created a Sinatra analytics app with <a href="http://d3js.org">D3 visualizations</a> backed by MongoDB. The Rails application sends analytics data via RabbitMQ and the Sinatra app receives, processes, and inserts them into Mongo. The Sinatra app facilitates querying into large volumes of data quickly for insights into site performance and user behavior. The project was completed within first two weeks of start date.', 
        'Deployed the Sinatra analytics app to AWS EC2 via custom written Chef recipe.', 
        'Implemented a new profile onboarding experience for Kiss.com, which has 10+ million users.', 
        'Heavily refactored the Kiss.com User model to DRY up repetitive code using metaprogramming.', 
        'Proposed migrating Resque workers (processes) to Sidekiq workers (threads) to reduce memory consumption, which would drastically reduce monthly AWS costs.', 
        'Designed and implemented the entire new user onboarding process for Delightful.com, including integration of Facebook and Twitter Single Sign On.', 
        'Developed the versioned Rails API for the Delightful iOS application.', 
        'Kiss.com was a dating site owned by IAC and shut down in August 2013 and merged into Match.com. <br> Delightful.com was a couples concierge service similar to <a href="http://www.youandmeconcierge.com">youandmeconcierge.com</a> that was shut down by IAC in May 2014.', 
      ], 
      technologies: ['Rails 3.2', 'AWS', 'Chef', 'MySQL', 'Resque', 'RabbitMQ'] })

  = haml(:job, layout: false, locals: { logo: '/images/nohatmedia.ico', 
      position: 'CoFounder', 
      employer: 'NoHatDigital', 
      employer_url: 'http://www.nohatdigital.com', 
      location: 'San Francisco', 
      dates: 'July 2014 - Current', 
      bullets: [ 'Conceived and designed the curriculum and courseware to teach people fundamentals of online marketing, including concepts such as CRO (conversion rate optimization), CAC (customer acquisition cost), LTV (lifetime value of customer), and churn (customer retention rate) along with how to measure and track those metrics.',
        'Hired and managed a team of 2 freelance developers to work on internal software projects: <ul> <li><a href="http://www.nohatdigital.com/courses/">NoHatHQ</a> - lead capture, onboarding, and student management for online marketing training courses</li> <li><a href="http://oracle.galactica.biz">Parched Oracle</a> - keyword research tool with built-in competition analysis</li> <li><a href="http://www.indexpatrol.com">IndexPatrol</a> - bulk site index checker</li> <li><a href="http://spamchecker.nohatdigital.com">SpamChecker</a> - bulk expired domain backlink profile analysis</li> <li><a href="http://links4life.nohatdigital.com">Links4Life</a> - crowdsourced content network for building backlinks to improve SEO</li> </ul>',
      ], 
      technologies: ['Rails 3.2', 'AWS', 'Chef', 'MySQL', 'Resque', 'RabbitMQ'] })

  .panel.panel-default
    .panel-body
      %h3
        %img(src="/images/nohatmedia.ico")
        CoFounder
        %small
          %strong
            %a(href="http://www.nohatmedia.com") NoHatMedia
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning San Francisco
            %span.label.label-danger Nov 2013 - October 2014
          .hidden-lg.hidden-md
            %p
            .label.label-warning San Francisco
            .label.label-danger Nov 2013 - October 2014
      %p
        Served as technical cofounder responsible for architecting, designing, and developing various software tools to help online marketing agencies with their SEO (search engine optimization) campaigns.
      %p
        Architected standard operating procedures for staff to administer ~700 WordPress installations across ~100 heterogeneous hosting platforms.
      %p
        Grew the business to $75k/month in revenue by building a sales team that implemented sales processes leveraging LinkedIn, cold emailing, and follow up calls tracked through StreakCRM.
      %p
        Singlehandedly developed the following software tools:
      %p 
        %ul
          %li 
            %a(href="http://www.clienthero.co") ClientHero 
            \- a client management portal for customers to place orders and view order status
          %li 
            %a(href="http://www.rankhero.co") RankHero 
            \- private content network for building backlinks to improve SEO
          %li 
            %a(href="http://www.domainjawa.com") DomainJawa
            \- marketplace for high value expired domains
          %li Crawler - distributed web crawler created to find high value expired domains

  .panel.panel-default
    .panel-body
      %h3
        %small
          %i.fa.fa-bar-chart.fa-1
        Founder
        %small
          %strong
            %a(href="https://www.ranktracker.io") Ranktracker.io
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning San Francisco
            %span.label.label-info Aug 2013 - Current
          .hidden-lg.hidden-md
            %p
            .label.label-warning San Francisco
            .label.label-info Aug 2013 - Current
      %p
        Singlehandedly architected, designed, coded, and launched RankTracker in &lt; 3 months, part-time.
      %p
        Integrated Stripe for subscription payment processing.
      %p
        Used the List data structure in Redis to build a round robin time series database for efficiently storing ranking data.
      %p
        Leveraged IronWorker and IronMQ to build massively distributed web crawlers to check on rankings daily in the major search engines.
      %p
        Built an API using RocketPants to communicate and integrate with third party applications.
      %p
        Currently handles over 10k keywords across hundreds of users.

      %ul.breadcrumb
        %li
          Tech Stack:
          %span.divider &nbsp;
        %li
          %span.badge.badge-success Rails 4.1.4
          %span.divider
        %li
          %span.badge.badge-success Heroku
          %span.divider
        %li
          %span.badge.badge-success PostgreSQL + Redis
          %span.divider
        %li
          %span.badge.badge-success IronWorker + IronMQ

  .panel.panel-default
    .panel-body
      %h3
        %img(src="/images/oneryng.ico")
        Founder
        %small
          %strong
            %a(href="http://oneryng.herokuapp.com") OneRyng
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning Shanghai
            %span.label.label-info Nov 2012 - Current
          .hidden-lg.hidden-md
            %p
            .label.label-warning Shanghai
            .label.label-info Nov 2012 - Current
      %p
        Singlehandedly architected, designed, coded, and launched OneRyng in &lt; 2 months, part-time.
      %p
        Setup nginx reverse proxy as SSL endpoint to ensure secure connection to Heroku with custom domain and to improve page load times by serving cached static content.
      %p
        Developed automated processes for spinning up new VPN servers, managing user accounts, and monitoring server health.
      %p
        Integrated with <a href="https://www.stripe.com">Stripe</a> for recurring credit card payment processing.
      %p
        Integrated with <a href="http://www.mandrill.com">Mandrill</a> for email notifications.
      %p
        Streamlined customer support workflows to reduce support load and improve customer satisfaction.
      %p
        Connect with expat businesses in China for marketing outreach and bizdev.

      %ul.breadcrumb
        %li
          Tech Stack:
        %li
          %span.badge.badge-success Rails 3.2.12
          %span.divider
        %li
          %span.badge.badge-success Heroku
          %span.divider
        %li
          %span.badge.badge-success Nginx + SSL
          %span.divider
        %li
          %span.badge.badge-success PostgreSQL
          %span.divider
        %li
          %span.badge.badge-success PPTP/L2TP VPN

  .panel.panel-default
    .panel-body
      %h3 
        %img(src="/images/tnc.png")
        Senior Web Developer
        %small
          %strong 
            %a(href="http://www.thenetcircle.com") TheNetCircle
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning Shanghai
            %span.label.label-danger June 2011 - Oct 2012
          .hidden-lg.hidden-md
            %p
            .label.label-warning Shanghai
            .label.label-danger June 2011 - Oct 2012

      %p
        Spearheaded and implemented functional testing as a requirement for Scrum story completion via Behat and Jenkins - for <em>two</em> projects, reducing the number of bugs filed each sprint by 50%.
      %p
        Streamlined deployment from multiple shell scripts and commands into a one-click button on Jenkins, complete with test run results, reporting, and notifications.
      %p 
        Pioneered the use of static code analysis via <a href="http://www.sonarsource.org">Sonar</a> to find compile-time (interpret-time for PHP) bugs.
      %p
        Identified and restructured slow MySQL queries to improve application performance.
      %p
        Set up, customized, and maintained an instance of <a href="http://hubot.github.com">Hubot</a> for broadcasting build and deploy statuses (as well as funny jokes and pictures) on company IRC channels. 
      %p
        Responsible for interviewing candidates. Created a semi-automated system for giving candidates written and coding tests to weed out unqualified applicants, saving interviewers 10 hours/week on average. 
      %p
        Successfully convinced management to reboot a flailing 3+ year project that had no growth plan which was costing the company €X0,000 EUR/month. See the presentation at SpeakerDeck.

      %ul.breadcrumb
        %li
          Tech Stack:
        %li
          %span.badge.badge-success Scrum
          %span.divider
        %li
          %span.badge.badge-success Nginx, PHP-FPM, APC
          %span.divider
        %li
          %span.badge.badge-success Memcached
          %span.divider
        %li
          %span.badge.badge-success MySQL
          %span.divider
        %li
          %span.badge.badge-success RabbitMQ
          %span.divider
        %li
          %span.badge.badge-success Jenkins CI

  .panel.panel-default
    .panel-body
      %h3 
        %img(src="/images/lime.png")
        Software Engineer
        %small
          %strong 
            %a(href="http://www.limebrokerage.com") Lime Brokerage
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning Boston
            %span.label.label-danger February 2009 - May 2010
          .hidden-lg.hidden-md
            %p
            .label.label-warning Boston
            .label.label-danger February 2009 - May 2010

      %p
        Architected and programmed a real time risk metric calculation engine in C++ used to process a variety of equities, futures, and options market metrics used in analyzing performance and risk of automated trading algorithms for each brokerage account. This engine then communicated the metrics (up to 1000/sec) via a Lime proprietary RPC messaging system to the control plane.
      %p 
        Designed and developed PULP, a custom programming language that incorporates basic elements of equities measurements (e.g. open order value, current buying power, shares traded, etc.) combined with mathematical and boolean operators to build customizable risk metrics on demand that broadcasts the values to clients in real time. PULP used ANTLR 3 for parsing and lexing.
      %p
        Developed the client side portlet in Flex for viewing the real time risk calculation metrics. The data was obtained from the control plane configuration via our web services backend implemented in Java and sent to the Flex clientside frontend via AMF. The data was requested using a GUI that generated the PULP code necessary to calculate the metric.
      %p
        Worked with J2EE using a custom MVC architecture through JBoss/Tomcat, Hibernate + MySQL for data store, and Adobe Flex for front end visualization to create portlets for clients to access various account, market, and risk data.
      %p 
        Experimented with CUDA, an nVidia architecture used to take advantage of the parallel processing power of GPUs to reduce computational running time.
      %p
        Prepared and demonstrated presentations of this technology to both internal users and potential customers.

      %ul.breadcrumb
        %li
          Tech Stack:
        %li
          %span.badge.badge-success Java
          %span.divider
        %li
          %span.badge.badge-success JBOSS/Tomcat
          %span.divider
        %li
          %span.badge.badge-success C++
          %span.divider
        %li
          %span.badge.badge-success Flex
          %span.divider
        %li
          %span.badge.badge-success MySQL
          %span.divider
        %li
          %span.badge.badge-success Hibernate
          %span.divider
        %li
          %span.badge.badge-success ANTLR

  .panel.panel-default
    .panel-body
      %h3 
        %img(src="/images/mitll.png")
        Satellite Software Engineer Intern
        %small
          %strong 
            %a(href="http://www.ll.mit.edu") MIT Lincoln Labs
          %span.pull-right.hidden-sm.hidden-xs
            %span.label.label-warning Boston
            %span.label.label-danger Summer 2007
          .hidden-lg.hidden-md
            %p
            .label.label-warning Boston
            .label.label-danger Summer 2007

      %p
        Received government security clearance to work on "Secret" level classified projects.
      %p 
        Designed and implemented a filter for separating satellite messages by protocol and content type, cutting debug time by 300% by only showing relevant acknowledge and error messages.
      %p
        Added datasets consisting of an XML/Java GUI frontend for input and a C++ backend for various satellite protocols in a production environment.

      %ul.breadcrumb
        %li
          Tech Stack:
        %li
          %span.badge.badge-success Java
          %span.divider
        %li
          %span.badge.badge-success Swing
          %span.divider
        %li
          %span.badge.badge-success C++
          %span.divider
        %li
          %span.badge.badge-success XML

  %hr

  %h2.text-center Education

  %h3 
    %img(src="/images/bu.png")
    Boston University
    %small 
      %span.pull-right.hidden-sm.hidden-xs
        %strong Bachelor's and Master's in Computer Science
        &nbsp;
        %span.label.label-danger 2004 - 2008
      .hidden-lg.hidden-md
        %p
          %strong Bachelor's and Master's in Computer Science
        %p
          %span.label.label-danger 2004 - 2008
  %p Completed the BA/MA Computer Science Program, receiving both a bachelor's and master's degree simultaneously upon graduation in 4 years.
  %p Graduated Cum Laude; selected by faculty to serve as the Boston University Computer Science student graduation speaker for the class of 2008.

  %hr

  %h2.text-center Administrivia

  .row
    .col-lg-5.col-sm-12
      %h4 Languages
      %p 
        %img(src="/images/png/gb.png")
        Native English 
        %br
        %img(src="/images/png/cn.png")
        Fluent in Mandarin Chinese

    .col-lg-5.col-sm-12
      %h4 Citizenship
      %p 
        %img(src="/images/png/us.png")
        Dual United States and Taiwan (ROC) citizen. 
        %br 
        %img(src="/images/png/tw.png")
        Legally able to work in the USA, no H1B visa required!
