	<div id="resume" class="row">
		<h2 class="align_center"><img src="images/resume.png" class="icon" alt="" /> <%= @title %></h2>
		<div id="software_engineer" class="column grid_6 align_center">
			<h3>Software Engineer</h3>
			<span class="filetype"><a href="docs/Szu Han Chang - Software Engineer Resume.pdf"><img src="images/pdf.png" alt="Szu Han Chang - Software Engineer Resume.pdf" /></a></span>
			<span class="filetype"><a href="docs/Szu Han Chang - Software Engineer Resume.rtf"><img src="images/rtf.png" alt="Szu Han Chang - Software Engineer Resume.rtf" /></a></span>
			<span class="filetype"><a href="docs/Szu Han Chang - Software Engineer Resume.docx"><img src="images/doc.png" alt="Szu Han Chang - Software Engineer Resume.docx" /></a></span>
		</div>
	
		<div id="web_developer" class="column grid_6 align_center">
			<h3>Web Developer</h3>
			<span class="filetype"><a href="docs/Szu Han Chang - Web Developer Resume.pdf"><img src="images/pdf.png" alt="Szu Han Chang - Web Developer Resume.pdf" /></a></span>
			<span class="filetype"><a href="docs/Szu Han Chang - Web Developer Resume.rtf"><img src="images/rtf.png" alt="Szu Han Chang - Web Developer Resume.rtf" /></a></span>
			<span class="filetype"><a href="docs/Szu Han Chang - Web Developer Resume.docx"><img src="images/doc.png" alt="Szu Han Chang - Web Developer Resume.docx" /></a></span>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		jQuery( document ).ready( function($) {
			$( ".filetype a" ).mouseover( function() {
				$( this ).children( "img" ).stop( true, true ).animate({
					opacity: 0.6
				}, 200, "swing", function() {
					$( this ).animate({
						opacity: 1
					}, 1000 );
				});
			});
		});
	</script>
